h1 {
    background-color: lightgrey;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.pf-comments {
   background: grey; 
   background-color: grey; 
}

.well {
    background-color: #E6E6E6;
    border-color: #B8B8B8;
}

.footer-text {
    position: relative;
    left: 50%;
    color: grey;
}
.pf-footer {
    width: 100%;
    min-width: 100%;
    position: relative;
    bottom: 0px;
    background-color: lightgrey;
}
